html {
  background-color: hsl(216, 12%, 8%);
  color: white;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.submit-card {
  background-color: hsl(213, 19%, 18%);
  height: auto;
  width: auto;
  max-width: 330px;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: auto;
  position: relative;
}

.card-wrapper {
  padding: 1.2rem;
}

.card-result {
  border-radius: 1rem;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: var(--state);
  background-color: hsl(213, 19%, 18%);
  max-width: 330px;
}

.circleStyling {
  background-color: hsl(213, 19%, 28%);
  padding: 1rem;
  border-radius: 30px;
}

h2 {
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

p {
  color: hsl(217, 12%, 63%);
  font-weight: 400;
  padding-bottom: 2rem;
  margin: 0;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.3rem;
}

.rating-input {
  display: none;
}

.rating-label {
  border: 1px solid hsl(216, 12%, 54%);
  border-radius: 50%;
  width: 2.5rem;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rating-label:hover {
  background-color: hsl(217, 12%, 63%);
}

#btn-submit {
  background-color: hsl(25, 97%, 53%);
  color: white;
  width: 100%;
  height: 3rem;
  border-radius: 30px;
  cursor: pointer;
}

#btn-submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.rating-input:checked + .rating-label {
  background-color: hsl(25, 97%, 53%);
}

.thanks-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#selected-rating {
  text-align: center;
  padding: 0.5rem;
  margin-top: 3rem;
  width: 66%;
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 10%, 23%);
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.thank-you-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
